.top-wrapper {
	background-color: $light-brown;
	position: relative;
}

.back-top {
	font-family: 'Breakers Bold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 19px;
	line-height: 36px;
	color: white;
	text-decoration: none;
	overflow: hidden;
	text-indent: 0;
	display: block;
	text-align: center;
}