html{
	margin: 0; padding: 0;
	background: gray url(../../images/bubble.png) repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	height: 300px;
	box-sizing: border-box;
	-webkit-animation: slide 20s linear infinite;
	}
header {
	// background-color: black;
	// background-image: url("../../images/nepal.png");
}

body {
	font-family: 'Trade Gothic', Helvetica, 'Arial', sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6em;
	color: black;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	margin: 0; padding: 0;
}

img {
	vertical-align: middle;
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.1;
}

li {
	font-family: 'Trade Gothic', Helvetica, 'Arial', sans-serif;
	font-weight: normal;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

a {
	color: $light-red;
	text-decoration: none;
}

footer {
	background-color: black;
}

p {
	font-family: 'Trade Gothic', Helvetica, 'Arial', sans-serif;
	font-weight: normal;
	margin: 0 0 10px;
}