.fm-gallery-link {
	display: block;
	position: relative;
}

.fm-gallery-wrapper {
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.fm-gallery-image {
	width: 43%;
	padding: 7px;

	@media screen and (min-width: 768px) {
		width: 23.4%;
		padding: 7px;
	}	
}
