$assets-path-root: "https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au";
$assets-path: "https://www.ramtrucks.com.au";
$light-brown: #5c4a3c;
$light-red: #972d18;
$dark-grey: #212121;
$mild-grey: #333;
$light-grey: #808080;
$bright-white: #d1d3d4;
$bright-silver: #abadb1;
$max-steel: #363a47;
$blue-streak: #1a4678;
$true-blue: #252b4e;
$delmonico-red: #4b1724;
$granite-crystal: #505050;
$brilliant-black: #000000;
$flame-red: #a42216;








